{% extends 'base.html.twig' %}

{% block title %}Hello DocumentController!
{% endblock %}

{% block body %}
	<h1 class='center-text pb1r'>Mes clients</h1>
	<div class='box-container' data-controller="client">
		<div class='box-action flex flex-row-reverse gap-5' data-client-target="divAction">
			<a class='btn-principal' href="{{ path('app_gestion_client/create') }}">Nouveau client</a>
		</div>
		<div class='box'>
			<table data-client-target="table">
				<thead data-client-target="tableHead"></thead>
				<tbody
					data-client-target="tableBody">
					<!-- Les documents seront chargés ici -->
				</tbody>
			</table>
		</div>

		<div data-controller="paginator" data-section="client" class='paginator'>
			<div data-paginator-target="paginationControls" class="pagination-controls flex space-around">
				<button data-action="click->paginator#previousPage" class='previous'>⟨</button>
				<div data-container-paginator-target="paginationContainer" class='flex space-around gap-5'>
				<!-- Les pages seront chargées ici -->
				</div>
				<button data-action="click->paginator#nextPage" class='next'>⟩</button>
			</div>
		</div>
		</div>
{% endblock %}
