{% extends 'base.html.twig' %}

{% block title %}DematFact | Connexion 
{% endblock %}

{% block body %}

<section class='container-form flex justify-center'>
	{{form_start(loginForm)}}
	<div class="group-form">
		{{form_row(loginForm.email, {
        'placeholder' : 'Email'
    })}}
	</div>
    <div class="group-form">
	{{form_row(loginForm.password)}}
    </div>
	<button type="submit" class="btn">Enregistrer</button>
	{{form_end(loginForm)}}
</section>
{% endblock %}
