@use '/assets/utils/root' as *;
html{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

main{
    padding: 2rem;
    background: #f3f3f3;
    width: 85vw;
    height: 93vh;
}
h1{
    font-size: 2rem;
    font-weight: lighter;
    color: #333;
}