@use '/assets/utils/root' as *;

.btn-principal{
    display: inline-block;
    text-align: center;
    background-color: $color-blue-action;
    color: $color-white;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: .5rem;
    min-width: 8rem;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
    a{
        color: $color-white;
        text-align: center;
    }
    &:hover {
        background-color: $color-blue-action-hover;
    }
}
.btn-remove{
    display: inline-block;
    text-align: center;
    background-color: $color-danger;
    color: $color-white;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: .5rem;
    min-width: 8rem;
    width: fit-content;
    cursor: pointer;
    transition: 0.3s;
    a{
        color: $color-white;
        text-align: center;
    }
    &:hover {
        background-color: adjust($color-danger, 10) ;
    }
}

// BTN TOGGLE
   
   .slider {
    display: inline-block;
    width: $button-width;
    height: $button-height;
    background-color: $color-grey;
    border-radius: calc($button-height / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: $toggle-diameter;
    height: $toggle-diameter;
    background-color: #fff;
    border-radius: calc($toggle-diameter / 2);
    position: absolute;
    top: $button-toggle-offset;
    transform: translateX($button-toggle-offset);
    box-shadow: $toggle-shadow-offset 0 calc($toggle-shadow-offset * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: $color-green;
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc($button-width - $toggle-diameter - $button-toggle-offset));
    box-shadow: calc($toggle-shadow-offset * -1) 0 calc($toggle-shadow-offset * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: $toggle-wider;
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc($button-width - $toggle-wider - $button-toggle-offset));
   }
   